.displayNumberOntology
{
color:purple;
text-decoration: blink;
display: inline;
font-weight:bold;
font-size:25px;
}

.redBlink
{
color:red;
text-decoration: blink;
font-size:25px;

}
.redBlink:visited, .link {
    background-color: red;
} 

.redBlink:hover {
    background-color: red;
    color:black;
} 

.purpleQuestion
{
color:purple;
font-weight:bold;
}
.online
{
background-color:#FACC2E;
color:black;
}

.already
{
background-color:#008000;
color:black;
}

.ongoing
{
background-color:#FC9A21;
color:black;
}

.lov
{
background-color:#80F391;
color:black;
}

.no
{
background-color:#F3808B;
color:black;
}


